body {
    --dark: #005180;
    --lightning: #334bff;
    --ice: #00b3ff;
    --movement: #b6e5ff;
    --heal: #19fff0;
    --spectral: #03fcca;
    --poison: #03fc52;
    --acid: #bbff00;
    --animal: #ffce7a;
    --holy: #ffdd00;
    --fire: #ff8400;
    --spike: #ff500a;
    --missile: #ff0019;
    --counter: #ff7daf;
    --faerie: #d154ff;
    --shock: #b47aff;
}
