@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .focus-shadow {
        @apply transition-colors focus-visible:outline-none mouse:focus-visible:border-stone-400 mouse:focus-visible:shadow-[0_0_0_4px_#a8a29e] mouse:focus-visible:dark:shadow-[0_0_0_4px_#57534e];
    }

    .skeleton {
        @apply animate-pulse rounded-md !border-stone-200 bg-stone-200 text-transparent dark:!border-stone-800 dark:bg-stone-800;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

html {
    position: relative;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr);
}

img,
video,
svg {
    display: block;
}

a {
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
}
