@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .focus-shadow {
        @apply transition-colors focus-visible:outline-none mouse:focus-visible:z-10 mouse:focus-visible:shadow-[0_0_0_4px_#d6d3d1] mouse:focus-visible:dark:shadow-[0_0_0_4px_#292524];
    }

    .skeleton {
        @apply animate-pulse !border-stone-300 !bg-stone-200 !text-transparent dark:!border-stone-700 dark:!bg-stone-900;
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }

    .text-skeleton {
        @apply !text-stone-900 dark:!text-stone-100;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

html {
    position: relative;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr);
}

img,
video,
svg {
    display: block;
}

a {
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
}

hr {
    @apply !m-0 h-4 border-none !p-0;
}

th {
    @apply text-left;
}

/* DICE */

.dice_D4 {
    mask-image: url("/dice/D4.png");
    mask-mode: alpha;
    mask-size: cover;
}

.dice_D6 {
    mask-image: url("/dice/D6.png");
    mask-mode: alpha;
    mask-size: cover;
}

.dice_D8 {
    mask-image: url("/dice/D8.png");
    mask-mode: alpha;
    mask-size: cover;
}

.dice_D10 {
    mask-image: url("/dice/D10.png");
    mask-mode: alpha;
    mask-size: cover;
}

.dice_D12 {
    mask-image: url("/dice/D12.png");
    mask-mode: alpha;
    mask-size: cover;
}

.dice_D20 {
    mask-image: url("/dice/D20.png");
    mask-mode: alpha;
    mask-size: cover;
}

/* SCROLL ANIMATIONS */

@keyframes scale-in {
    from {
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.75);
        opacity: 0;
    }
}

@supports (animation-timeline: scroll()) {
    @media (prefers-reduced-motion: no-preference) {
        .anim-enter-view {
            animation:
                scale-in linear forwards,
                scale-out linear forwards;
            animation-timeline: view(block);
            animation-range:
                cover calc(0% + 4rem) entry-crossing calc(100% + 4rem),
                exit-crossing calc(0% - 3.25rem) cover calc(100% - 3.25rem);
        }

        @media (min-width: 768px) {
            .anim-enter-view {
                animation-range:
                    cover 0% entry-crossing 100%,
                    exit-crossing calc(0% - 7.25rem) cover calc(100% - 7.25rem);
            }
        }
    }
}
